* {
    font-family: Tahoma, sans-serif;
    color: #76ABAE;
    box-sizing: border-box;
}

body {
    background-color: #222831;
}

h1, h2, p{
    text-align: center;
}
h1, h2 {
    color: white;
}

a {
    color: #76ABAE;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 255, 255);
}

#choices {
    list-style-type: none;
    text-align: center;
}

div {
    display: flex;
    justify-content: center;
}
